appdirs==1.4.3
attrs==18.2.0
black==18.9b0
Click==7.0
flake8==3.6.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
python-dotenv==0.9.1
toml==0.10.0
Werkzeug==0.14.1
