alembic==1.0.6
appdirs==1.4.3
attrs==18.2.0
black==18.9b0
Click==7.0
flake8==3.6.0
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==2.1.0
python-dateutil==2.7.5
python-dotenv==0.10.1
python-editor==1.0.3
six==1.12.0
SQLAlchemy==1.2.16
toml==0.10.0
Werkzeug==0.14.1
WTForms==2.2.1
